<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="css/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="https://code.highcharts.com/highcharts.js"></script>
     <script src="https://code.highcharts.com/modules/exporting.js"></script>

    

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="WeMedUp" style="padding-top: 10px;" />
            </a>
        </div>
        <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">  <a id="logout" href="#" class="btn btn-danger square-btn-adjust">Logout</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="images/img-1.png" class="user-image img-responsive"/>
                </li>


                <li>
                    <a class="active-menu"  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                </li>
               <!-- <li>
                    <a  href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                </li>-->

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>Admin Dashboard</h2>
                    <h5>Welcome, Love to see you back. </h5>
                </div>
            </div>
            
            
      
            
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-plus-square-o"></i>
                </span>
                        <div class="text-box" >
                            <p class="main-text"  role="button" data-toggle="modal" data-target="#login-modal" >ADD NEW DEPARTMENT</p>
                            <p class="text-muted">Existing: 3</p>
                            <button id="myBtn" class="btn btn-success">ADD</button>

                        </div>
                    </div>
                </div>

                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>ADD NEW DEPARTMENT</h2>
                        </div>
                        <div class="modal-body">
                            <div id="signup">
                                <form action="/afterRegister" method="post" role="form">

                                    <div class="form-group">
                                        <input type="text" name="dept" id="dept" class="form-control input-sm" placeholder="Enter the Department Name">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" required autocomplete="off" name="firstname" id="firstname" class="form-control input-sm" placeholder="Moderator First Name">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" required autocomplete="off" name="lastname" id="lastname" class="form-control input-sm" placeholder="Moderator Last Name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                            <input type="email" required autocomplete="off" name="username" id="username" class="form-control input-sm" placeholder="Moderator Email Address">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="empId" id="empId" class="form-control input-sm" placeholder="Employee ID">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="password" required autocomplete="off" name="password" id="password" class="form-control input-sm" placeholder="Default Password">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="button btn btn-success"/>Add Moderator</button>

                                </form>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <h3></h3>
                        </div>

                    </div>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-minus-square-o"></i>
                </span>
                        <div class="text-box" >
                            <p class="main-text">DELETE DEPARTMENT</p>
                            <p class="text-muted">Existing: 3</p>
                            <button id="myBtn1"  class="btn btn-success">DELETE</button>
                        </div>
                    </div>
                </div>
                <div id="myModal1" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>DELETE A DEPARTMENT</h2>

                        </div>
                        <div class="modal-body">
                            <div id="result"></div>


                        </div>
                        <div class="modal-footer">
                            <h3></h3>
                        </div>

                    </div>

                </div>


           <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                        <div class="text-box" >
                            <p class="main-text">SEE ANALYTICS</p>
                            <p class="text-muted">Existing: 3</p>
                            <button id="myBtn2"  class="btn btn-success">SEE</button>
                        </div>
                    </div>
                </div>
           <div id="myModal2" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Graphs</h2>

                        </div>
                        <div class="modal-body">
                           <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> 

                        </div>
                        <div class="modal-footer">
                            <h3></h3>
                        </div>

                    </div>

                </div>
           
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>
                        <div class="text-box">
                            <p class="main-text">RECENT POSTS</p>
                            <p class="text-muted">Existing: 3</p>
                            <button id="myBtn3" class="btn btn-success">SEE RECENT</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            
            
 
            
            
            <hr />
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue">
                    <i class="fa fa-warning"></i>
                </span>
                        <div class="text-box" >
                            <p class="main-text">52 Important Issues to Fix </p>
                            <p class="text-muted">Please fix these issues to work smooth</p>
                            <p class="text-muted">Time Left: 30 mins</p>
                            <hr />

                        </div>
                    </div>
                </div>


                <!--<div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel back-dash">
                        <i class="fa fa-dashboard fa-3x"></i><strong> &nbsp; SPEED</strong>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing sit ametsit amet elit ftr. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                </div>-->
                <div class="col-md-3 col-sm-12 col-xs-12 ">
                    <div class="panel ">
                        <div class="main-temp-back">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6"> <i class="fa fa-cloud fa-3x"></i> Newyork City </div>
                                    <div class="col-xs-6">
                                        <div class="text-temp"> 10° </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-desktop"></i>
                </span>
                        <div class="text-box" >
                            <p class="main-text">Display</p>
                            <p class="text-muted">Looking Good</p>
                        </div>
                    </div>

                </div>

            </div>



                    </div>

                </div>


            </div>
    </div>
</div>
</div>

        </div>

    </div>

</div>

<script src="js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="js/jquery.metisMenu.js"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="js/raphael-2.1.0.min.js"></script>
<script src="js/morris.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="js/custom.js"></script>

<script>



    var modal = document.getElementById('myModal');
    var modal1=document.getElementById('myModal1');
    var modal2=document.getElementById('myModal2');
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var btn1 = document.getElementById("myBtn1");
    var btn2 = document.getElementById("myBtn2");
    var list=[];
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span1 = document.getElementsByClassName("close")[1];
    var span2 = document.getElementsByClassName("close")[2];
    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }
    
    btn1.onclick = function() {
        $.ajax({
            type: "GET",
            url: "/getModerator",
            success: function(result) {
         var trHTML = '';
                for(i in result) {
                    trHTML +=   '<div class="col-md-4"><div class="panel panel-info"><div class="panel-heading"><h4 class="text-center">Id:'+result[i].empId +'</h4></div><div class="panel-body text-center"><p class="lead"><strong>'+result[i].firstname +'</strong></p></div><ul class="list-group list-group-flush text-center"><li class="list-group-item"><i class="icon-ok text-danger"></i>Dept:'+result[i].dept +'</li></ul> <div class="panel-footer"><a class="btn btn-lg btn-block btn-primary">DELETE</a></div></div></div>';
                     }
                $('#result').html(trHTML);

                modal1.style.display = "block";
            },
            error: function(result) {
                alert('error');
            }
        });

    }

    $("#logout").click(function() {
        $.ajax({
            type: "GET",
            url: "/logout",
            success: function(result) {
                window.location='/';
            }
        });
    });

    btn2.onclick = function() {
        alert("clicked");
        modal2.style.display = "block";

        $.ajax({
            type: "GET",
            url: "/getUsers",
		success: function(result) {
         		
         		list=result;
         		console.log(list);
         		
         		 modal2.style.display = "block";	
				}
        });

    }
        
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
    return {
        radialGradient: {
            cx: 0.5,
            cy: 0.3,
            r: 0.7
        },
        stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
        ]
    };
});

// Build the chart
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Types of users '
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                },
                connectorColor: 'silver'
            }
        }
    },
    series: [{

        name: 'Users',
        data:[
        	 { name:'Admin', y:list[0].number},
             { name: 'Moderator', y: list[1].number },
             { name: 'Client', y: list[1].number  }
        ]
    }]
});
    
	


    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
           }

    span1.onclick = function() {

        modal1.style.display = "none";
    }

    span2.onclick = function() {

        modal2.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            modal1.style.display = "none";
        }
    }
</script>
<script>

myBtn3.onclick = function() {
        $.ajax({
            type: "GET",
            url: "/getPosts",
            success: function(result) {

   				window.location ='/getPosts';
            },
            error: function(result) {
                alert('error');
            }
        });

    }


</script>
</body>
</html>
