<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WeMedUp</title>

    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="plugins/cubeportfolio/css/cubeportfolio.min.css">
    <link href="css/nivo-lightbox.css" rel="stylesheet" />
    <link href="css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen" />
    <link href="css/owl.theme.css" rel="stylesheet" media="screen" />
    <link href="css/animate.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style1.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- boxed bg -->
    <link id="bodybg" href="bodybg/bg1.css" rel="stylesheet" type="text/css" />
    <!-- template skin -->
    <link id="t-colors" href="color/default.css" rel="stylesheet">
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom" >


<div id="wrapper">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

        <div class="container navigation">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand">
                    <img src="images/logo.png" alt="WeMedUp" style="padding-left: 10px"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#"  id="home">Home</a></li>
                    <li><a href="#" id="msg">Messages</a></li>
                </ul>
                <div style="color: white;float: right;font-size: 16px; padding-left: 20px; padding-top: 25px">  <a id="logout" href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>

            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>













    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/js/jquery.nicescroll.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <div class="panel panel-white border-top-green">
                    <div class="panel-body chat">
                        <div class="row chat-wrapper">
                            <div class="col-md-5">

                                <div class="compose-area">

                                    <a href="javascript:void(0);" id="msgnew" class="btn btn-primary"><i class="fa fa-edit"></i> New Messages</a>
                                </div>

                                <div>
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 550px;">
                                        <div class="chat-list-wrapper" style="overflow-y: auto; width: auto; height: 550px;">
                                            <ul class="chat-list" id="list">

                                            </ul>
                                        </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 478.639px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                                </div>

                            </div>

                            <div class="col-md-7" >
                                <div>
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 452px;">
                                        <div class="message-list-wrapper" style="overflow: hidden; width: auto; height: 452px;">
                                            <div class="message" style="text-align: center">MESSAGE BODY</div>

                                            <ul class="message-list">

                                                <li class="center-block"  >
                                                     <div class="body">
                                                        <div class="message well well-sm" id="msgBody">

                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="slimScrollBar" style="width: 7px; position: absolute; top: 265px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 187.092px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
















    <!-- /.modal compose message -->
    <div class="modal"  id="modalCompose">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span> Compose Message</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2" for="inputTo"><span class="glyphicon glyphicon-user"></span>To</label>
                            <div class="col-sm-10"><input type="email" class="form-control" id="inputTo" placeholder="comma separated list of recipients"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="inputSubject"><span class="glyphicon glyphicon-list-alt"></span>Subject</label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="inputSubject" placeholder="subject"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12" for="inputBody"><span class="glyphicon glyphicon-list"></span>Message</label>
                            <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="8"></textarea></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning pull-left" id="cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" id="send" class="btn btn-primary ">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal compose message -->

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

<script>
    $("#logout").click(function() {
        $.ajax({
            type: "GET",
            url: "/logout",
            success: function(result) {
                window.location='/';
            }
        });
    });
    var modal=document.getElementById('modalCompose');
    var response;

    $( document ).ready(function() {
       // modal.style.display = "block";
        $.ajax({
            type: "GET",
            url: "/getMessages",
            success: function(result) {

               var divHtml='';

                response = result;

                for(i in result) {

                 divHtml+='<li class="new" id='+i+' onclick="getli('+i+')"><span class="avatar available"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="img-circle"></span> <div class="body"><div class="header"><span class="username">'+result[i].recieverEmail +'</span></div><p>'+result[i].msgSubject+'</p></div></li>'
       }
                $('#list').html(divHtml);
                $('#msgBody').html(response[0].msgBody);


            },
            error: function(result) {
                alert('error');
            }
        });


    });


    function getli(i)
    {

        $('#msgBody').html(response[i].msgBody);
    }


 /*   $("#list").click(function() {
              alert("HI"); // gets innerHTML of clicked li

    });
*/




    $("#cancel").click(function() {

        modal.style.display = "none";
        $.ajax({
            type: "GET",
            url: "/getMessages",
            success: function(result) {
                /* var trHTML = '';*/

                var divHtml='';

                response = result;

                for(i in result) {

                    divHtml+='<li class="new" id='+i+' onclick="getli('+i+')"><span class="avatar available"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" class="img-circle"></span> <div class="body"><div class="header"><span class="username">'+result[i].recieverEmail +'</span></div><p>'+result[i].msgSubject+'</p></div></li>'
                }
                $('#list').html(divHtml);
                $('#msgBody').html(response[0].msgBody);


            },
            error: function(result) {
                alert('error');
            }
        });




    });
    $("#close").click(function() {
        modal.style.display = "none";
    });
    $("#msgnew").click(function() {
        modal.style.display = "block";
    });

    $("#send").click(function() {

        var data = {};
        data.to = document.getElementById("inputTo").value;
        data.subject = document.getElementById("inputSubject").value;
        data.body = document.getElementById("inputBody").value;


        $.ajax({
            type: "POST",
            url: "/sendMessage",
            contentType: 'application/json',
            data: JSON.stringify(data),

            success: function(result)
            {
                alert("MESSAGE SENT SUCCESSFULLY ");
            }
        });
    });

    $("#home").click(function() {
        $.ajax({
            type: "GET",
            url: "/getPosts",
            success: function(result) {

                window.location.assign("/getPosts");
            }
        });
    });

    $


</script>


<!-- Core JavaScript Files -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/stellar.js"></script>
<script src="plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/user.js"></script>

</body>
<style>
    h7.hidden {
        visibility: hidden;
    }
</style>
</html>
